@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
   /* background-color: #191825; */
   background-color: #20262E;
   font-family: 'Poppins', sans-serif;
}
.brand-title{
   margin-left: 10px;
}
.btn{
   padding: 0.5rem 2rem;
}
.btn-skill{
   padding: 5px;
   border-radius: 5px;
   color: white;
}
form{
   width: 70%;
}
@media screen and (max-width : 767px) {
   img{
      width: 300px;
      height: auto;
   }
}
